<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TIENDA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <% if(!user) {%>
            <li class="nav-item">
              <a class="nav-link active" href="/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/inicio">Ingresar</a>
            </li>
          <% } else {%>
            <li class="nav-item">
              <a class="nav-link active" href="/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carrito">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/salir">Cerrar Sesion</a>
            </li>
          <% } %>
      </div>
    </div>
</nav>